.modal-content {
    padding: 15px;
}

.note-editor.note-frame {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
}

/*'#1ab394'*/
.bootstrap-tagsinput:focus {
    border: 1px solid #1ab394;
}
/*'#1ab394'*/
.bootstrap-tagsinput {
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    display: block;
}
.fa {
    margin: 5px;
}

.input_text {
    width: 10vh;
}


.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}



.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

/* put modal with scroll if necessary */
.modal-dialog{
    overflow-y: initial ;
}
.modal-body{
    height: 250px ;
    overflow-y: auto ;
}
#btn-cc-bcc{
    margin-top: 20px;
}
.tooltip{
    z-index: 2300;
}

.popover{
    z-index: 2300;
}